# Visual Studio
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.user
*.aps
*.pdb
*.log
*.tlog
*.lastbuildstate
*.idb
*.obj
*.pch
*.res
*.sbr
*.ilk
*.exe
*.dll
*.lib
*.exp
*.suo
*.opensdf
*.sdf
*.cache
*.ipch
*.VC.db
*.VC.opendb

# Reportes forenses generados
*.txt
!README.md
!robo.txt
!robos.txt
